body {
  background-color: #92a8d1;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-family: 'Rancho', serif;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
